CONFIG_INSTRUMENT_GYRO_COMPASS=y
CONFIG_ESP_DEVICE_ID="ESP_GyroCompass"
CONFIG_RPI_IP_ADDRESS="<your RPi IP address>"
CONFIG_WIFI_SSID="<your WiFi network SSID>"
CONFIG_WIFI_PASSWORD="<your WiFi password>"
